<div class="form-item">
  <input 
    type="{{type}}" 
    id="{{id}}" 
    name="{{name}}"
    class="form-item__input" 
    placeholder="{{label}}"
    value="{{value}}"
    required
  >
  <label for="{{id}}" class="form-item__label">
    {{label}}
  </label>
</div>
